@font-face {
	font-family: 'ComfortaaThin';
	src: url('https://fedoraproject.org/static/css/fonts/Comfortaa_Thin-webfont.eot');
	src: local('☺'),
		url('https://fedoraproject.org/static/css/fonts/Comfortaa_Thin-webfont.ttf') format('truetype'),
		url('https://fedoraproject.org/static/css/fonts/Comfortaa_Thin-webfont.svg#webfontReo2lGxG') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaRegular';
	src: url('https://fedoraproject.org/static/css/fonts/Comfortaa_Regular-webfont.eot');
	src: local('☺'),
		url('https://fedoraproject.org/static/css/fonts/Comfortaa_Regular-webfont.ttf') format('truetype'),
		url('https://fedoraproject.org/static/css/fonts/Comfortaa_Regular-webfont.svg#webfontxbL3cos8') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaBold';
	src: url('https://fedoraproject.org/static/css/fonts/Comfortaa_Bold-webfont.eot');
	src: local('☺'),
		url('https://fedoraproject.org/static/css/fonts/Comfortaa_Bold-webfont.ttf') format('truetype'),
		url('https://fedoraproject.org/static/css/fonts/Comfortaa_Bold-webfont.svg#webfontjkcnhWWT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellRegular';
	src: url('https://fedoraproject.org/static/css/fonts/Cantarell-Regular-webfont.eot');
	src: local('☺'),
		url('https://fedoraproject.org/static/css/fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
		url('https://fedoraproject.org/static/css/fonts/Cantarell-Regular-webfont.svg#webfontPQ4tPnyo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellBold';
	src: url('https://fedoraproject.org/static/css/fonts/Cantarell-Bold-webfont.eot');
	src: local('☺'),
		url('https://fedoraproject.org/static/css/fonts/Cantarell-Bold-webfont.ttf') format('truetype'),
		url('https://fedoraproject.org/static/css/fonts/Cantarell-Bold-webfont.svg#webfont3gCLDhwY') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellBoldOblique';
	src: url('https://fedoraproject.org/static/css/fonts/Cantarell-BoldOblique-webfont.eot');
	src: local('☺'),
		url('https://fedoraproject.org/static/css/fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'),
		url('https://fedoraproject.org/static/css/fonts/Cantarell-BoldOblique-webfont.svg#webfont3gCLDhwY') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellOblique';
	src: url('https://fedoraproject.org/static/css/fonts/Cantarell-Oblique-webfont.eot');
	src: local('☺'),
		url('https://fedoraproject.org/static/css/fonts/Cantarell-Oblique-webfont.ttf') format('truetype'),
		url('https://fedoraproject.org/static/css/fonts/Cantarell-Oblique-webfont.svg#webfont3gCLDhwY') format('svg');
	font-weight: normal;
	font-style: normal;
}

.shadow {
    -moz-box-shadow: 0 2px 2px #888888;
    -webkit-box-shadow: 0 2px 2px #888888;
    box-shadow: 0 2px 2px #888888;
    position: relative;
}

.raiseshadow {
    -moz-box-shadow: 0 2px 2px #888888, 0 -2px 2px #888888;
    -webkit-box-shadow: 0 2px 2px #888888, 0 -2px 2px #888888;
    box-shadow: 0 2px 2px #888888, 0 -2px 2px #888888;
    position: relative;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.topmargin { margin-top: 20px; }

*
{
  margin: 0;
  padding: 0;
}

body
{
  background: #FFFFFF;
  font-family: Cantarell, "Droid Sans", Verdana, sans-serif;
  font-size: 0.9em;
}

a
{
  text-decoration: none;
}

#head
{
  overflow: hidden;
  height: 70px;
  line-height: 70px;
}

.head-dev
{
  background: url(../images/head-dev.png) 0 0 repeat-x;
}

.head-stg
{
  background: url(../images/head-stg.png) 0 0 repeat-x;
}

.head-prod
{
  background: url(../images/head.png) 0 0 repeat-x;
}

#searchbox
{
  width: 36ex;
  float: right;
  text-align: right;
  margin-right: 2ex;
}

#searchbox label
{
  display: none;
}

#searchbox input
{
  display: inline;
  border: 1px solid #CCCCCC;
}

#searchbox #q
{
  width: 20ex;
}

#topnav
{
  height: 30px;
  line-height: 30px;
  background-color: #dddddd;
  margin-top: 5px;
}

#topnav ul
{
  list-style: none;
  text-align: center;
}

#topnav ul li
{
  display: inline;
  padding-right: 10px;
}

#topnav ul li.first
{
  background: none;
}

#topnav a
{
  color: #445566;
  margin: 0 2ex;
}

#topnav a:hover
{
  color: #000000;
}

#infobar
{
  height: 35px;
  line-height: 35px;
  padding: 5px 10px 5px 10px;
  font-size: 1em;
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#eeeeee));
  background: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background: -ms-linear-gradient(top, #eeeeee, #dddddd);
  background: -o-linear-gradient(top, #eeeeee, #dddddd);
}

#authstatus
{
  width: 40ex;
  float: left;
  color: #FFFFFF;
  padding-left: 1.5ex;
}

#authstatus strong
{
  color: #DED6A1;
}

#control
{
  float: right;
  margin-right: 1ex;
}

#control ul
{
  list-style: none;
  text-align: right;
}

#control ul li
{
  display: inline;
  color: #333333;
  margin-left: 10px;
}

#control ul li form
{
  display: inline;
}

#control ul li form input
{
  display: inline;
}

#control a
{
  display: inline;
  color: #DED6A1;
  margin: 0 1.5ex;
}

#sidebar
{
  margin-top: 20px;
  width: 22ex;
  float: left;
  background-color: #dddddd;
  border-radius: 3px;
}

#sidebar ul
{
  list-style: none;
}

#sidebar li {
    display: block;
    padding: 10px;
}

#sidebar a
{
  padding: 10px;
  color: #445566;
}

#sidebar a:hover
{
  background: #aaaaaa;
}

#language
{
  padding: 1ex;
}

#language label
{
  color: #FFFFFF;
}

#language input
{
  width: 4ex;
}

#content
{
  margin-left: 22ex;
  padding: 2ex 4ex;
}

#content h2
{
  /* header icon */
}

#content h3
{
  font-size: 2.2ex;
  margin-bottom: 0.25ex;
}

#content a
{
  color: #0C6ED0;
}

.userbox
{
}

.userbox dt
{
  width: 32ex;
  float: left;
  text-align: right;
  font-weight: bold;
}

.userbox dd
{
  margin-left: 36ex;
}

.account
{
  padding-left: 30px;
  background: url(../images/account.png) 0 68% no-repeat;
}

.approved
{
  padding-left: 20px;
  background: url(../images/approved.png) 0 68% no-repeat;
}

.unapproved
{
  padding-left: 20px;
  background: url(../images/unapproved.png) 0 68% no-repeat;
}

.attn
{
  padding-left: 20px;
  background: url(../images/attn.png) 0 68% no-repeat;
}

.roleslist
{
  list-style: none;
  margin: 0 2ex;
}

.roleslist li
{
  margin-left: 0.5ex;
}

.actions
{
  margin-top: 1.5ex;
  list-style: none;
}

.actions li
{
  /*
   * TODO: Add icons
   */
}

#rolespanel
{
  list-style: none;
}

#rolespanel li.role
{
  border-top: 2px solid #EEEEEE;
  margin-top: 1ex;
  padding-top: 1ex;
  padding-left: 22px;
  background: url(../images/arrow.png) 0 1.6ex no-repeat;
}

#rolespanel h4
{
  display: inline;
}

#rolespanel dt
{
  width: 10ex;
  float: left;
  text-align: right;
  margin-bottom: 1ex;
}

#rolespanel dd
{
  margin-left: 12ex;
  margin-bottom: 1ex;
}

#rolespanel .tools, #rolespanel .queue
{
  list-style: none;
}

#rolespanel .tools li
{
  padding-left: 22px;
  background: url(../images/tools.png) 0 50% no-repeat;
}

#rolespanel .queue li
{
  padding-left: 22px;
  background: url(../images/queue.png) 0 50% no-repeat;
}

#rolespanel .queue strong
{
  color: #222222;
}

#footer
{
  font-size: 1.6ex;
  clear: both;
  text-align: center;
  padding: 15px 0 2.5ex;
}

#footer .version, #footer .copy, #footer .disclaimer
{
  font-size: 1.5ex;
}

#footlinks
{
  padding-top: 3px;
  padding-bottom: 18px;
  list-style: none;
}

#footlinks li
{
  display: inline;
  border-left: 1px solid #CCCCCC;
  padding-left: 1px;
}

#footlinks li.first
{
  padding-left: 0;
  border-left: none;
}

#footlinks a
{
  margin: 0 2ex;
  color: #3465A4;
}

.flash div.success, .flash div.info
{
  background: #DEE6B1 url(../images/success.png) 10px 50% no-repeat;
  border: 1px solid #CCBBAA;
  padding: 1.5ex 15px 1.5ex 43px;
  margin: 1ex 0;
}

.flash div.error
{
  background: #DEE6B1 url(../images/error.png) 10px 50% no-repeat;
  border: 1px solid #CCBBAA;
  padding: 1.5ex 15px 1.5ex 43px;
  margin: 1ex 0;
}

.flash div.warning
{
  background: #DEE6B1 url(../images/warning.png) 10px 50% no-repeat;
  border: 1px solid #CCBBAA;
  padding: 1.5ex 15px 1.5ex 43px;
  margin: 1ex 0;
}

.help
{
  background: #DEE6B1 url(../images/help.png) 10px 50% no-repeat;
  border: 1px solid #CCBBAA;
  padding: 1.5ex 15px 1.5ex 65px;
  margin: 1ex 0;
}

.submit
{
  margin-right: 5px;
}

.letters
{
  list-style: none;
}

.letters li
{
  display: inline;
  margin-right: 1ex;
}

#content table
{
  border-collapse: collapse;
}

#content table th, #content table td
{
  padding: 0 2ex;
  border: 1px solid #CCCCCC;
}

table.newtable { width: 100%; }

table.newtable th, table.newtable td { border: 1px solid #cccccc !important; }

table.newtable th {
    text-align: left;
    color: #525252;
    text-shadow: 0 1px 0 white;
    padding: 10px !important;
}

table.newtable thead {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#eeeeee));
  background: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background: -ms-linear-gradient(top, #eeeeee, #dddddd);
  background: -o-linear-gradient(top, #eeeeee, #dddddd);
}

table.newtable tr.odd {
    background-color: #eeeeee;
}

#content p
{
  margin: 1ex 0 2ex;
}

pre
{
  font-size: 3ex;
}

form
{
  list-style: none;
  margin: 1ex 0!important;
}

form .field
{
  margin: 0 0 1ex;
  text-align: left;
  overflow: hidden;
}

form .field label
{
  float: left;
  clear: left;
  width: 32ex;
  text-align: right;
  padding: 0 2ex 0 0;
}

form .field input, form .field textarea
{
  margin: 0;
}

.message p
{
  margin: 1ex 0;
  font-size: 3ex;
  font-family: monospace;
}

#cla
{
  border: 1px solid #AAAAAA;
  background: #EEEEEE;
  padding: 2ex;
}

#cla p
{
  margin: 2ex 0;
}

#cla ol {
  list-style-type: decimal;
  margin-left: 3ex;
}

#cla ol ol
{
  list-style: upper-alpha;
}

#cla ol li
{
  margin: 2ex 0;
}



fieldset
{
  border: none;
  margin: 0 0 3ex;
}

legend
{
  font-weight: bold;
}

/* Button Styles */
input.sub-button{
  min-width: 110px;
  margin-left: 39ex;
}
