<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/"
  py:strip="">
  <?python
  from turbogears import config
  import fas.sidebar as sidebar
  _ = tg.gettext
  ?>
  <head py:match="head" py:attrs="select('@*')">
    <link href="${tg.url('/static/theme/%s/css/style.css') % config.get('theme')}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="${tg.url('/static/theme/%s/images/favicon.ico' % config.get('theme'))}" type="image/vnd.microsoft.icon" />
    <meta py:replace="select('*|text()')" />
    <jsglobals />
    <script type="text/javascript" src="${tg.url('/static/js/prototype.js')}"></script>
    <script type="text/javascript" src="${tg.url('/static/js/prototype.improvements.js')}"></script>
    <script type="text/javascript" src="${tg.url('/static/js/scriptaculous.js?load=effects')}"></script>
    <script type="text/javascript" src="${tg.url('/static/js/HelpBalloon.js')}"></script>
    <script type="text/javascript">
      var sidebar_map = {
        // sidebar metadata => regex of location.pathname
        'home': /\/home\/?/,
        <py:if test="not tg.identity.anonymous">
          'myaccount': /\/user\/view\/${tg.identity.user.username}\/?$/, // TODO: Regex escape this.
        </py:if>
        'newgroup': /\/group\/new\/?/,
        'userlist': /\/user\/(?:list|view)\/?/,
        'grouplist': /\/group\/(?:list|view)\/?/
      };

      document.observe("dom:loaded", function() {
        for (key in sidebar_map) {
          if (location.pathname.match(sidebar_map[key])) {
            $(key).addClassName('sb-active');
            break;
          }
        }
      });
    </script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome-ie7.css" rel="stylesheet" />
  </head>
  <body py:match="body" py:attrs="select('@*')">
    <div id="wrapper">
      <div id="infobar" class="shadow clearfix">
        <img src="${tg.url('/static/images/fedora-logo.png')}" />
        <!--<div id="authstatus">
          <span py:if="not tg.identity.anonymous">
            <strong>${_('Logged in:')}</strong> ${tg.identity.user.username}
          </span>
        </div>-->
        <div id="control">
          <ul class="toolbar" id="#main-toolbar">
            <logintoolitem href="${tg.url('/user/view/')}" /> <!-- TODO: unbuttonize this -->
          </ul>
        </div>
      </div>
      <!--<div id="topnav" class="shadow">
        <ul>
          <li><a href="http://fedoraproject.org/"><i class="icon-lightbulb"></i> ${_('Learn about Fedora')}</a></li>
          <li><a href="http://get.fedoraproject.org/"><i class="icon-download"></i> ${_('Download Fedora')}</a></li>
          <li><a href="http://fedoraproject.org/wiki/"><i class="icon-cogs"></i> ${_('Projects')}</a></li>
          <li><a href="http://join.fedoraproject.org/"><i class="icon-group"></i> ${_('Join Fedora')}</a></li>
          <li><a href="http://fedoraproject.org/wiki/Communicate"><i class="icon-comments"></i> ${_('Communicate')}</a></li>
          <li><a href="http://docs.fedoraproject.org/"><i class="icon-book"></i> ${_('Help/Documentation')}</a></li>
          <li><a href="https://fedoraproject.org/code-of-conduct"><i class="icon-pushpin"></i> ${_('Code of Conduct')}</a></li>
        </ul>
      </div>-->

      <div id="main">
        <div id="sidebar">
          <ul>
            <li id="home"><a href="${tg.url('/home')}"><i class="icon-home"></i> ${_('Home')}</a></li>
            <li py:if="not tg.identity.anonymous" id="myaccount"><a href="${tg.url('/user/view/%s' % tg.identity.user.username)}"><i class="icon-pencil"></i> ${_('My Account')}</a></li>
            <li py:if="not tg.identity.anonymous and ('sysadmin' in tg.identity.groups or 'accounts' in tg.identity.groups)" id="newgroup"><a href="${tg.url('/group/new')}"><i class="icon-plus"></i> ${_('New Group')}</a></li>
            <li py:if="not tg.identity.anonymous and ('sysadmin' in tg.identity.groups or 'accounts' in tg.identity.groups)" id="userlist"><a href="${tg.url('/user/list')}"><i class="icon-user"></i> ${_('User List')}</a></li>
            <li py:if="not tg.identity.anonymous" id="grouplist"><a href="${tg.url('/group/list/A*')}"><i class="icon-group"></i> ${_('Group List')}</a></li>
            <li><a href="http://fedoraproject.org/wiki/FWN/LatestIssue"><i class="icon-bullhorn"></i> ${_('News')}</a></li>
          </ul>
          <div py:if="tg.identity.anonymous and tg.available_languages and len(tg.available_languages) > 1" id="language">
            <!-- TODO: Should this be available to logged in users to (and actually change their DB entry?) -->
            <form action="${tg.url('/language')}" method="post">
              <label for="locale">${_('Locale:')}</label>
              <select name="locale" id="locale">
                <option py:for="language in tg.available_languages" value="${language}" py:attrs="{'selected': tg.lang == language and 'selected' or None}">${language}</option>
              </select>
              <input type="submit" value="${_('OK')}" />
            </form>
          </div>
        </div>
        <header>
          <div style="height: 50px;"></div>
        </header>
        <div py:if="tg_flash" id="flash">
          <p>${tg_flash}</p>
        </div>
        <div id="content">
          <div py:replace="select('*|text()')" />
        </div>
        <div id="footer">
          <ul id="footlinks">
            <li class="first"><a href="${tg.url('/about')}">${_('About')}</a></li>
            <li><a href="http://fedoraproject.org/wiki/Communicate">${_('Contact Us')}</a></li>
            <li><a href="http://fedoraproject.org/wiki/Legal">${_('Legal &amp; Privacy')}</a></li>
            <!--<li><a href="/">Site Map</a></li>-->
          </ul>
          <p class="copy">
            ${Markup(_('&copy; 2013 Red Hat, Inc.  Please send any comments or corrections to the &lt;a href="mailto:%(webmaster)s"&gt;websites team&lt;/a&gt;.') % {'webmaster': tg.webmaster_email})}
          </p>
          <p class="disclaimer">
            ${_('The Fedora Project is maintained and driven by the community and sponsored by Red Hat.  This is a community maintained site.  Red Hat is not responsible for content.')}
          </p>
        </div>
      </div>
    </div> <!-- End wrapper -->
  </body>

  <xi:include href="${tg.fedora_template('login.html')}" />
  <xi:include href="${tg.fedora_template('jsglobals.html')}" />

</html>
